/**
 *
 * ---------------------------------------------------------
 * WUPPO FRAMEWORK RTL CSS MAP
 * ---------------------------------------------------------
 *
 * 01. Base
 *     01. 01. Header
 *     01. 02. Header Buttons
 *     01. 03. Navigation
 *     01. 04. Content
 *     01. 05. Section
 *     01. 06. Show All Settings
 *     01. 07. Search Input
 *     01. 08. Copyright
 *     01. 09. Metabox
 * 02. Fields
 *     02. 01. Field: typography
 *     02. 02. Field: checkbox, radio
 *     02. 03. Field: switcher
 *     02. 04. Field: upload
 *     02. 05. Field: group
 *     02. 06. Field: repeater
 *     02. 07. Field: help
 *     02. 08. Field: icon
 *     02. 09. Field: gallery
 *     02. 10. Field: sorter
 *     02. 11. Field: tabbed
 *     02. 12. Field: media
 *     02. 13. Field: notice
 *     02. 14. Field: border, spacing, dimensions
 *     02. 15. Field: background
 *     02. 16. Field: spinner
 *     02. 17. Field: slider
 *     02. 18. Field: button_set
 *     02. 19. Field: link_color
 *     02. 20. Field: color_group
 *     02. 21. Field: palette
 *     02. 22. Field: accordion
 *     02. 23. Field: date
 *     02. 24. Field: map
 *     02. 25. Field: sortable
 *     02. 26. Field: number
 * 03. Taxonomy
 * 04. Profile
 * 05. Nav Menu
 * 06. Modal
 * 07. Customizer
 * 08. Responsive
 * 09. Others
 *
 * ---------------------------------------------------------
 *
 */
/**
 * 01. Base
 */
.wuppo-options {
  margin-left: 20px;
  margin-right: 0;
}

/**
 * 01. 01. Header
 */
.wuppo-header h1 {
  float: right;
}
.wuppo-header fieldset {
  float: left;
}

/**
 * 01. 02. Header Buttons
 */
.wuppo-buttons {
  float: left;
  direction: ltr;
}

.wuppo-header-left {
  float: right;
}

.wuppo-header-right {
  float: left;
}

/**
 * 01. 03. Navigation
 */
.wuppo-nav {
  float: right;
}
.wuppo-nav ul {
  clear: right;
}
.wuppo-nav ul li .wuppo-active:after {
  right: auto;
  left: 0;
  border-left-color: #fff;
  border-right-color: transparent;
}
.wuppo-nav ul li .wuppo-arrow:after {
  content: "\f053";
  right: auto;
  left: 10px;
}
.wuppo-nav ul li.wuppo-tab-expanded .wuppo-arrow:after {
  transform: rotate(-90deg);
}
.wuppo-nav ul ul li a {
  padding-right: 25px;
  padding-left: 15px;
}
.wuppo-nav ul ul:before {
  left: auto;
  right: 15px;
}
.wuppo-nav .wuppo-tab-icon {
  margin-left: 5px;
  margin-right: 0;
}

.wuppo-nav-background {
  left: auto;
  right: 0;
}

/**
 * 01. 04. Content
 */
.wuppo-content {
  margin-left: 0;
  margin-right: 225px;
}

/**
 * 01. 05. Section
 */
.wuppo-sections {
  float: right;
}

/**
 * 01. 06. Show all options
 */
.wuppo-show-all .wuppo-content {
  margin-right: 0;
  overflow: hidden;
}

.wuppo-expand-all {
  float: right;
  right: auto;
  left: 40px;
  margin-right: 0;
  margin-left: 4px;
}

/**
 * 01. 07. Search Input
 */
.wuppo-search {
  float: right;
}
.wuppo-search input {
  margin: 0 0 0 5px;
}

/**
 * 01. 08. Copyright
 */
.wuppo-copyright {
  float: right;
}

/**
 * 01. 09. Metabox
 */
.wuppo-metabox {
  margin: -6px -12px -12px -12px;
}
.wuppo-metabox .wuppo-section-title {
  padding: 20px;
}

.wuppo-section-title .wuppo-section-icon {
  margin-left: 5px;
  margin-right: 0;
}

/**
 * 02. Fields
 */
.wuppo-field .wuppo-title {
  float: right;
}
.wuppo-field .wuppo-fieldset {
  float: left;
}

.wuppo-pseudo-field {
  padding: 0 0 0 5px !important;
}

/**
 * 02. 01. Field: typography
 */
.wuppo-field-typography select {
  margin: 0;
  width: 100%;
}
.wuppo-field-typography .wuppo--blocks-inputs .wuppo--blocks {
  flex-direction: row-reverse;
}
.wuppo-field-typography .wuppo--unit {
  left: 4px;
  right: auto;
}

/**
 * 02. 02. Field: checkbox, radio
 */
.wuppo-field-checkbox ul ul li,
.wuppo-field-radio ul ul li {
  margin-left: 0;
  margin-right: 8px;
}
.wuppo-field-checkbox ul ul li:first-child,
.wuppo-field-radio ul ul li:first-child {
  margin-right: 0;
}
.wuppo-field-checkbox .wuppo--inline-list li,
.wuppo-field-radio .wuppo--inline-list li {
  margin-right: 0;
  margin-left: 15px;
}
.wuppo-field-checkbox .wuppo--text,
.wuppo-field-radio .wuppo--text {
  margin-left: 0;
  margin-right: 5px;
}

/**
 * 02. 03. Field: switcher
 */
.wuppo-field-switcher .wuppo--switcher {
  float: right;
}
.wuppo-field-switcher .wuppo--label {
  float: right;
  margin-left: 0;
  margin-right: 5px;
}

/**
 * 02. 04. Field: upload
 */
.wuppo-field-upload .wuppo--remove,
.wuppo-field-upload .wuppo--button {
  margin-left: 0;
  margin-right: 5px;
}

/**
 * 02. 05. Field: group
 */
.wuppo-field-group .wuppo-cloneable-title {
  padding: 15px 10px 15px 65px;
}
.wuppo-field-group .wuppo-cloneable-helper {
  right: auto;
  left: 10px;
}

/**
 * 02. 06. Field: repeater
 */
.wuppo-field-repeater .wuppo-repeater-helper {
  border-left: 0;
  border-right: 1px solid #eee;
}

/**
 * 02. 07. Field: help
 */
.wuppo-help {
  right: auto;
  left: 5px;
}

/**
 * 02. 08. Field: icon
 */
.wuppo-field-icon .button {
  margin-right: 0;
  margin-left: 5px;
}
.wuppo-field-icon .wuppo-icon-preview i {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 09. Field: gallery
 */
.wuppo-field-gallery ul li {
  margin-right: 0;
  margin-left: 5px;
}
.wuppo-field-gallery .button {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 11. Field: tabbed
 */
.wuppo-field-tabbed .wuppo-tabbed-nav .wuppo--icon {
  padding-right: 0;
  padding-left: 5px;
}
.wuppo-field-tabbed .wuppo-tabbed-nav a {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 12. Field: media
 */
.wuppo-field-media .button {
  margin-left: 0;
  margin-right: 7px;
}
.wuppo-field-media .hidden + .button {
  margin-right: 0;
}

/**
 * 02. 13. Field: notice
 */
.wuppo-notice {
  border-left: none;
  border-right-style: solid;
  border-right-width: 4px;
}

/**
 * 02. 14. Field: border, spacing, dimensions
 */
.wuppo-field-dimensions .wuppo--input,
.wuppo-field-dimensions .wuppo-fieldset,
.wuppo-field-spacing .wuppo--input,
.wuppo-field-spacing .wuppo-fieldset,
.wuppo-field-border .wuppo--input,
.wuppo-field-border .wuppo-fieldset {
  direction: ltr;
}
.wuppo-field-dimensions .wuppo--inputs,
.wuppo-field-dimensions .wuppo--color,
.wuppo-field-spacing .wuppo--inputs,
.wuppo-field-spacing .wuppo--color,
.wuppo-field-border .wuppo--inputs,
.wuppo-field-border .wuppo--color {
  float: right;
}
.wuppo-field-dimensions .wuppo--color,
.wuppo-field-spacing .wuppo--color,
.wuppo-field-border .wuppo--color {
  margin-right: 4px;
  direction: rtl;
}

/**
 * 02. 15. Field: background
 */
.wuppo-field-background .wuppo--block {
  float: right;
}
.wuppo-field-background .wuppo--select,
.wuppo-field-background .wuppo--media {
  padding-right: 0;
}
.wuppo-field-background .wuppo--title {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 16. Field: spinner
 */
.wuppo-field-spinner .wuppo--spin {
  float: right;
  direction: ltr;
}

/**
 * 02. 17. Field: slider
 */
.wuppo-field-slider .wuppo-slider-ui {
  direction: ltr;
  margin-right: 0;
  margin-left: 15px;
}
.wuppo-field-slider .wuppo--input {
  direction: ltr;
}

/**
 * 02. 18. Field: button_set
 */
.wuppo-field-button_set .wuppo--button-group {
  float: right;
}

/**
 * 02. 19. Field: link_color
 */
.wuppo-field-link_color .wuppo--left {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/**
 * 02. 20. Field: color_group
 */
.wuppo-field-color_group .wuppo--left {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/**
 * 02. 21. Field: palette
 */
.wuppo-field-palette .wuppo--palette {
  margin-right: 0;
  margin-left: 10px;
}

/**
 * 02. 22. Field: accordion
 */
.wuppo-field-accordion .wuppo--icon {
  margin-right: 0;
  margin-left: 2px;
}

/**
 * 02. 23. Field: date
 */
.wuppo-field-date .wuppo--to {
  margin-left: 0;
  margin-right: 7px;
}

/**
 * 02. 24. Field: map
 */
.wuppo-field-map .wuppo--map-input:last-child {
  padding-left: 0;
  padding-right: 10px;
}

/**
 * 02. 25. Field: sortable
 */
.wuppo-field-sortable .wuppo-sortable-helper {
  border-left: none;
  border-right: 1px solid #eee;
}

/**
 * 02. 26. Field: number
 */
.wuppo-field-number .wuppo--wrap {
  float: right;
}
.wuppo-field-number .wuppo--unit {
  left: 4px;
  right: auto;
}

/**
 * 03. Taxonomy
 */
.wuppo-taxonomy-add-fields {
  margin-right: 0;
  margin-left: 30px;
}
.wuppo-taxonomy-add-fields .wuppo-field > .wuppo-fieldset > .wuppo-help {
  left: -5px;
  right: auto;
}

.wuppo-taxonomy-edit-fields {
  margin-right: 0;
  margin-left: 35px;
}
.wuppo-taxonomy-edit-fields .wuppo-field > .wuppo-fieldset > .wuppo-help {
  right: auto;
  left: -5px;
}

/**
 * 04. Profile
 */
.wuppo-profile-options > h2 > .fa {
  padding-right: 0;
  padding-left: 7px;
}
.wuppo-profile-options > .wuppo-field > .wuppo-fieldset > .wuppo-help {
  left: -5px;
  right: auto;
}

/**
 * 05. Nav Menu
 */
.wuppo-nav-menu-options > .wuppo-fields {
  margin-left: 0;
  margin-right: -10px;
}

.wuppo-nav-menu-title {
  padding-left: 14px;
  padding-right: 12px;
}

.wuppo-nav-menu-icon {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 06. Modal
 */
.wuppo-modal-content .wuppo-field {
  padding: 15px 15px 15px 30px;
}

.wuppo-modal-title {
  padding: 0 16px 0 36px;
}

.wuppo-modal-close {
  right: auto;
  left: 0;
}

/**
 * 07. Customizer
 */
.control-section .wuppo-field .wuppo-fieldset {
  margin-right: 0;
}

/**
 * 08. Responsive
 */
@media only screen and (max-width: 1200px) {
  .wuppo-metabox .wuppo-field .wuppo-fieldset {
    margin-left: 0;
  }
}
@media only screen and (max-width: 782px) {
  .wuppo .wuppo-fieldset,
  .wuppo .wuppo-content {
    margin-right: 0;
  }
}
/**
 * 09. Others
 */
.wuppo-field .wuppo--transparent-slider {
  margin-left: 0;
  margin-right: 2px;
}
.wuppo-field .wuppo--transparent-slider .ui-slider-handle {
  margin: 0 -11px;
}
.wuppo-field .wuppo--transparent-offset {
  background-position: center right;
}
.wuppo-field .wuppo--transparent-text {
  right: auto;
  left: 10px;
}
/**
 * style added by webiha team
 */
 .wuppo-theme-dark .wuppo-nav ul li .wuppo-active:after {
  left: 0;
  right: unset;
  border-left-color: #fff;
  border-right: none;
}
.wupp-limit-base-form .wuppo-cloneable-remove{
  display: none;
}
.wupp-limit-base-form .wuppo-cloneable-remove,.wupp-limit-base-form .wuppo-cloneable-clone, .wupp-limit-base-form .wuppo-cloneable-add{
  display: none !important;
}
.wuppo-cloneable-text {
  padding-right: 20px;
}
.wuppo-field-switcher .wuppo--switcher {
  width:80px !important;
}
.wuppo-content {
  margin-left: 0 !important;
}