/**
 *
 * ---------------------------------------------------------
 * WUPPO FRAMEWORK CSS MAP
 * ---------------------------------------------------------
 *
 * 01. Base
 *     01. 01. Header
 *     01. 02. Sticky
 *     01. 03. Header Buttons
 *     01. 04. Navigation
 *     01. 05. Wrapper
 *     01. 06. Content
 *     01. 07. Section
 *     01. 08. Footer
 *     01. 09. Copyright
 *     01. 10. Show All Settings
 *     01. 11. Search Input
 *     01. 12. Metabox
 *     01. 13. Comment Metabox
 *     01. 14. Help Tooltip
 * 02. Themes
 *     02. 01. Theme Dark
 *     02. 02. Theme Light
 * 03. Fields
 *     03. 01. Field
 *     03. 02. Field: accordion
 *     03. 03. Field: background
 *     03. 04. Field: backup
 *     03. 05. Field: border, spacing, dimensions
 *     03. 06. Field: button_set
 *     03. 07. Field: checkbox, radio
 *     03. 08. Field: code_editor
 *     03. 09. Field: color
 *     03. 10. Field: color_group
 *     03. 11. Field: fieldset
 *     03. 12. Field: date
 *     03. 13. Field: gallery
 *     03. 14. Field: group
 *     03. 15. Field: icon
 *     03. 16. Field: image_select
 *     03. 17. Field: link_color
 *     03. 18. Field: map
 *     03. 19. Field: media
 *     03. 20. Field: palette
 *     03. 21. Field: repeater
 *     03. 22. Field: select
 *     03. 23. Field: slider
 *     03. 24. Field: sortable
 *     03. 25. Field: sorter
 *     03. 26. Field: spinner
 *     03. 27. Field: switcher
 *     03. 28. Field: tabbed
 *     03. 29. Field: text
 *     03. 30. Field: textarea
 *     03. 31. Field: typography
 *     03. 32. Field: upload
 *     03. 33. Field: wp_editor
 *     03. 34. Field: heading
 *     03. 35. Field: subheading
 *     03. 36. Field: submessage
 *     03. 37. Field: notice
 *     03. 38. Field: number
 *     03. 39. Field: link
 *     03. 40. Field: others
 * 04. Widget
 * 05. Customizer
 * 06. Taxonomy
 * 07. Profile
 * 08. Nav Menu
 * 09. Modal
 *     09. 01. Shortcode Modal
 *     09. 02. Gutenberg Modal
 *     09. 03. Icon Modal
 * 10. Helper
 * 11. Welcome Page
 * 12. Responsive
 * 13. Others
 *
 * ---------------------------------------------------------
 *
 */
/**
 * 01. Base
 */
.wuppo {
  position: relative;
}
.wuppo label {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.wuppo-ab-icon {
  top: 2px;
}

#screen-meta-links + .wuppo-options {
  margin-top: 40px;
}

.wuppo-options {
  margin-top: 20px;
  margin-right: 20px;
}

/**
 * 01. 01. Header
 */
.wuppo-header {
  position: relative;
}

.wuppo-header-inner {
  padding: 25px;
  transition: box-shadow .3s ease;
}
.wuppo-header-inner h1 {
  float: left;
  font-size: 1.5em;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}
.wuppo-header-inner h1 small {
  font-size: 11px;
  font-weight: 500;
}

/**
 * 01. 02. Sticky
 */
.wuppo-sticky .wuppo-header-inner {
  position: fixed;
  z-index: 99;
  top: 32px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/**
 * 01. 03. Header Buttons
 */
.wuppo-buttons {
  float: right;
}
.wuppo-buttons .button {
  margin: 0 2px;
  line-height: 26px;
}
.wuppo-buttons .button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.wuppo-buttons .wuppo-save {
  min-width: 72px;
}

.wuppo-header-left {
  float: left;
}

.wuppo-header-right {
  float: right;
}

/**
 * 01. 04. Navigation
 */
.wuppo-nav {
  display: block;
  position: relative;
  z-index: 10;
  float: left;
}
.wuppo-nav ul {
  clear: left;
  margin: 0;
  list-style-type: none;
}
.wuppo-nav ul li {
  margin-bottom: 0;
}
.wuppo-nav ul li a {
  font-size: 13px;
  position: relative;
  display: block;
  padding: 14px 12px;
  text-decoration: none;
  transition-property: color, background;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.wuppo-nav ul li a:focus {
  outline: none;
  box-shadow: none;
}
.wuppo-nav ul li .wuppo-arrow:after {
  content: "\f054";
  display: inline-block;
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free", "FontAwesome";
  font-weight: 900;
  font-size: 9px;
  line-height: 1;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
}
.wuppo-nav ul li.wuppo-tab-expanded .wuppo-arrow:after {
  transform: rotate(90deg);
}
.wuppo-nav ul li.wuppo-tab-expanded ul {
  display: block;
}
.wuppo-nav ul ul {
  display: none;
  position: relative;
}
.wuppo-nav ul ul li a {
  font-size: 12px;
  padding: 12px 14px 12px 24px;
}
.wuppo-nav .wuppo-tab-icon {
  width: 20px;
  margin-right: 5px;
  font-size: 13px;
  text-align: center;
}
.wuppo-nav .wuppo-label-error {
  margin-left: 4px;
  vertical-align: top;
}

.wuppo-nav-normal {
  width: 225px;
}
.wuppo-nav-normal + .wuppo-content {
  margin-left: 225px;
}

.wuppo-nav-inline {
  width: 100%;
}
.wuppo-nav-inline ul li {
  display: inline-block;
  vertical-align: top;
}

.wuppo-nav-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 225px;
}

/**
 * 01. 05. Wrapper
 */
.wuppo-wrapper {
  position: relative;
}

/**
 * 01. 06. Content
 */
.wuppo-content {
  position: relative;
  background-color: #fff;
}

/**
 * 01. 07. Section
 */
.wuppo-sections {
  float: left;
  width: 100%;
}

.wuppo-section-title {
  display: none;
  padding: 20px 30px;
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.wuppo-section-title h3 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.wuppo-section-title .wuppo-section-icon {
  margin-right: 5px;
}

/**
 * 01. 08. Footer
 */
.wuppo-footer {
  padding: 20px;
  font-size: 11px;
}

/**
 * 01. 09. Copyright
 */
.wuppo-copyright {
  float: left;
  margin-top: 5px;
}

/**
 * 01. 10. Show All Settings
 */
.wuppo-search-all .wuppo-nav-background,
.wuppo-search-all .wuppo-nav,
.wuppo-show-all .wuppo-nav-background,
.wuppo-show-all .wuppo-nav {
  display: none;
}
.wuppo-search-all .wuppo-content,
.wuppo-show-all .wuppo-content {
  margin-left: 0;
}
.wuppo-search-all .wuppo-section-title,
.wuppo-search-all .wuppo-section,
.wuppo-show-all .wuppo-section-title,
.wuppo-show-all .wuppo-section {
  display: block !important;
}

.wuppo-search-all .wuppo-section-title {
  display: none !important;
}

.wuppo-expand-all {
  float: left;
  padding: 0 8px;
  margin-right: 4px;
  z-index: 1;
  font-size: 13px;
  line-height: 30px;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  transition: all .2s;
}
.wuppo-expand-all span {
  font-size: 11px;
  vertical-align: middle;
}

/**
 * 01. 11. Search Input
 */
.wuppo-search {
  float: left;
}
.wuppo-search input {
  margin: 0 2px 0 0;
  border: none;
  font-size: 12px;
  line-height: 30px;
  min-height: 30px;
  text-align: inherit;
  padding: 0 10px;
  border-radius: 2px;
  box-shadow: none;
}
.wuppo-search input:focus {
  box-shadow: none;
}

.wuppo-saving .wuppo-buttons,
.wuppo-saving .wuppo-content {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}

/**
 * 01. 12. Metabox
 */
.wuppo-metabox {
  margin: -6px -12px -12px -12px;
}
.wuppo-metabox .wuppo-field {
  padding: 20px;
}
.wuppo-metabox .wuppo-section-title {
  padding: 20px;
}

.block-editor-page .wuppo-metabox {
  margin: -6px -14px -14px -14px;
}

.block-editor-editor-skeleton__content .wuppo-metabox {
  border-left: 1px solid #e2e4e7;
  border-right: 1px solid #e2e4e7;
}

.wuppo-sections-reset {
  float: left;
  width: 100%;
  text-align: right;
  border-top: 1px solid #eee;
}
.wuppo-sections-reset .wuppo-button-cancel,
.wuppo-sections-reset input {
  display: none;
}
.wuppo-sections-reset label {
  padding: 10px;
}
.wuppo-sections-reset span {
  -webkit-user-select: none;
  user-select: none;
}
.wuppo-sections-reset input:checked ~ .wuppo-button-reset {
  display: none;
}
.wuppo-sections-reset input:checked ~ .wuppo-button-cancel {
  display: inline-block;
}

#side-sortables .wuppo-section-title {
  padding: 12px;
}
#side-sortables .wuppo-field {
  padding: 10px 15px;
}
#side-sortables .wuppo-field .wuppo-title {
  float: none;
  width: 100%;
  margin-bottom: 6px;
}
#side-sortables .wuppo-field .wuppo-fieldset {
  float: none;
  width: 100%;
}
#side-sortables .wuppo-field-text input {
  width: 100%;
}
#side-sortables .wuppo-notice {
  padding: 10px 15px;
}

/**
 * 01. 13. Comment Metabox
 */
.wuppo-comment-metabox {
  margin: -6px -12px -12px -12px;
}
.wuppo-comment-metabox .wuppo-field {
  padding: 20px;
}
.wuppo-comment-metabox .wuppo-section-title {
  padding: 20px;
}

/**
 * 01. 14. Help Tooltip
 */
.wuppo-tooltip {
  position: absolute;
  z-index: 5000001;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  padding: 6px 12px;
  max-width: 200px;
  color: #fff;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
}

/**
 * 02. Themes
 */
/**
 * 02. 01. Theme Dark
 */
.wuppo-theme-dark .wuppo-header-inner {
  background-color: #050505;
}
.wuppo-theme-dark .wuppo-header-inner h1 {
  color: #fff;
}
.wuppo-theme-dark .wuppo-header-inner h1 small {
  color: #555;
}
.wuppo-theme-dark .wuppo-expand-all {
  color: #999;
  background-color: #222;
}
.wuppo-theme-dark .wuppo-expand-all:hover {
  color: #fff;
  background-color: #333;
}
.wuppo-theme-dark .wuppo-search input {
  color: #fff;
  background-color: #222;
}
.wuppo-theme-dark .wuppo-search:focus {
  background-color: #444;
}
.wuppo-theme-dark .wuppo-search::-webkit-input-placeholder {
  color: #666;
}
.wuppo-theme-dark .wuppo-nav ul li a {
  color: #999;
  border-color: #2f2f2f;
  background-color: #222;
}
.wuppo-theme-dark .wuppo-nav ul li a:hover {
  color: #fff;
}
.wuppo-theme-dark .wuppo-nav ul li .wuppo-active {
  color: #fff;
  background-color: #111;
}
.wuppo-theme-dark .wuppo-nav ul ul li a {
  border-color: #2f2f2f;
  background-color: #191919;
}
.wuppo-theme-dark .wuppo-nav ul ul li .wuppo-active {
  background-color: #101010;
}
.wuppo-theme-dark .wuppo-nav ul ul:before {
  background-color: rgba(34, 34, 34, 0.75);
}
.wuppo-theme-dark .wuppo-nav > ul > li:last-child > a {
  border: none;
}
.wuppo-theme-dark .wuppo-nav-normal ul li a {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.wuppo-theme-dark .wuppo-nav-normal ul li .wuppo-active:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 50%;
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid transparent;
  border-right-color: #fff;
  border-width: 4px;
  margin-top: -4px;
}
.wuppo-theme-dark .wuppo-nav-inline {
  background-color: #222;
}
.wuppo-theme-dark .wuppo-nav-inline ul li a {
  text-align: center;
  border-right-width: 1px;
  border-right-style: solid;
}
.wuppo-theme-dark .wuppo-nav-inline ul li .wuppo-active:after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 0;
  width: 0;
  pointer-events: none;
  border: solid transparent;
  border-bottom-color: #fff;
  border-width: 4px;
  margin-left: -4px;
}
.wuppo-theme-dark .wuppo-nav-background {
  background-color: #222;
}
.wuppo-theme-dark .wuppo-footer {
  color: #555;
  background-color: #050505;
}

/**
 * 02. 02. Theme Light
 */
.wuppo-theme-light .wuppo-container {
  border: 1px solid #ccd0d4;
  box-shadow: 0 0 15 rgba(0, 0, 0, 0.04);
}
.wuppo-theme-light .wuppo-header-inner {
  border-bottom: 1px solid #ccd0d4;
  background-color: #f5f5f5;
  background: linear-gradient(#fefefe, #f5f5f5);
}
.wuppo-theme-light .wuppo-header-inner h1 small {
  color: #999;
}
.wuppo-theme-light .wuppo-expand-all {
  color: #999;
  background-color: #eee;
}
.wuppo-theme-light .wuppo-expand-all:hover {
  color: #555;
}
.wuppo-theme-light .wuppo-search input {
  color: #555;
  background-color: #eee;
}
.wuppo-theme-light .wuppo-search input::-webkit-input-placeholder {
  color: #999;
}
.wuppo-theme-light .wuppo-nav ul li a {
  font-weight: 500;
  color: #444;
  background-color: #f5f5f5;
}
.wuppo-theme-light .wuppo-nav ul li a:hover {
  color: #111;
  background-color: #fff;
}
.wuppo-theme-light .wuppo-nav ul li .wuppo-active {
  color: #111;
  background-color: #fff;
}
.wuppo-theme-light .wuppo-nav ul ul li a {
  background-color: #eee;
}
.wuppo-theme-light .wuppo-nav-normal > ul {
  margin-right: -1px;
  margin-bottom: -1px;
}
.wuppo-theme-light .wuppo-nav-normal > ul li a {
  border-bottom: 1px solid #ccd0d4;
  border-right: 1px solid #ccd0d4;
}
.wuppo-theme-light .wuppo-nav-normal > ul li .wuppo-active {
  border-right-color: #fff;
}
.wuppo-theme-light .wuppo-nav-inline {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccd0d4;
}
.wuppo-theme-light .wuppo-nav-inline > ul {
  margin-bottom: -1px;
}
.wuppo-theme-light .wuppo-nav-inline > ul li a {
  text-align: center;
  border-right: 1px solid #ccd0d4;
  border-bottom: 1px solid #ccd0d4;
}
.wuppo-theme-light .wuppo-nav-inline > ul li .wuppo-active {
  border-bottom-color: #fff;
}
.wuppo-theme-light .wuppo-nav-inline > ul ul {
  display: none !important;
}
.wuppo-theme-light .wuppo-nav-inline .wuppo-arrow:after {
  display: none;
}
.wuppo-theme-light .wuppo-nav-background {
  background-color: #f5f5f5;
  border-right: 1px solid #ccd0d4;
}
.wuppo-theme-light .wuppo-footer {
  color: #555;
  border-top: 1px solid #ccd0d4;
  background-color: #f5f5f5;
  background: linear-gradient(#fafafa, #f5f5f5);
}

/**
 * 03. Fields
 */
.wuppo-field {
  position: relative;
  padding: 30px;
}
.wuppo-field + .wuppo-field {
  border-top: 1px solid #eee;
}
.wuppo-field p:first-child {
  margin-top: 0;
}
.wuppo-field p:last-child {
  margin-bottom: 0;
}
.wuppo-field:after, .wuppo-field:before {
  content: " ";
  display: table;
}
.wuppo-field:after {
  clear: both;
}
.wuppo-field h4 {
  margin-top: 0;
}
.wuppo-field .wuppo-title {
  position: relative;
  width: 20%;
  float: left;
}
.wuppo-field .wuppo-title h4 {
  margin: 0;
  color: #23282d;
}
.wuppo-field .wuppo-fieldset {
  float: right;
  width: calc(80% - 20px);
}

.wuppo-pseudo-field {
  padding: 0 5px 0 0 !important;
  display: inline-block;
}
.wuppo-pseudo-field + .wuppo-pseudo-field {
  border: 0;
}
.wuppo-pseudo-field pre {
  display: none;
}

/**
 * 03. 02. Field: accordion
 */
.wuppo-field-accordion .wuppo-accordion-item {
  position: relative;
  margin-bottom: 5px;
}
.wuppo-field-accordion .wuppo-accordion-item:last-child {
  margin-bottom: 0;
}
.wuppo-field-accordion .wuppo-accordion-item h4 {
  font-size: 1em;
}
.wuppo-field-accordion .wuppo-accordion-title {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 15px;
  min-height: 0;
  font-size: 100%;
  user-select: none;
  border: 1px solid #ccd0d4;
  background-color: #fafafa;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  transition: border-color .15s;
}
.wuppo-field-accordion .wuppo-accordion-title:active, .wuppo-field-accordion .wuppo-accordion-title:hover, .wuppo-field-accordion .wuppo-accordion-title:focus {
  outline: none;
  border-color: #999;
}
.wuppo-field-accordion .wuppo-accordion-title .wuppo--icon {
  width: 20px;
  text-align: center;
  margin-right: 2px;
}
.wuppo-field-accordion .wuppo-accordion-icon {
  width: 16px;
  text-align: center;
}
.wuppo-field-accordion .wuppo-accordion-content {
  display: none;
  padding: 0;
  border: 1px solid #ccd0d4;
  border-top: none;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.wuppo-field-accordion .wuppo-accordion-content > .wuppo-field {
  padding: 15px;
}
.wuppo-field-accordion .wuppo-accordion-open {
  display: block;
}

/**
 * 03. 03. Field: background
 */
.wuppo-field-background .wuppo-field {
  border: 0 !important;
  padding: 0;
  margin-bottom: 6px;
  margin-right: 6px;
}
.wuppo-field-background .wuppo--title {
  color: #777;
  font-size: 12px;
}
.wuppo-field-background .wuppo--background-colors {
  display: flex;
  flex-wrap: wrap;
}
.wuppo-field-background .wuppo--background-attributes {
  display: flex;
  flex-wrap: wrap;
}
.wuppo-field-background .wuppo--background-attributes select {
  min-width: 100%;
  margin: 0;
}
.wuppo-field-background .wuppo--background-attributes .wuppo-field {
  flex: 1;
}
.wuppo-field-background .wuppo--attributes-hidden {
  display: none;
}

/**
 * 03. 04. Field: backup
 */
.wuppo-field-backup textarea {
  width: 100%;
  min-height: 200px;
  margin-bottom: 5px;
}
.wuppo-field-backup small {
  display: inline-block;
  margin: 5px;
}
.wuppo-field-backup hr {
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

/**
 * 03. 05. Field: border, spacing, dimensions
 */
.wuppo-field-border .wuppo--inputs,
.wuppo-field-spacing .wuppo--inputs,
.wuppo-field-dimensions .wuppo--inputs {
  float: left;
  display: flex;
  flex-wrap: wrap;
}
.wuppo-field-border .wuppo--input,
.wuppo-field-spacing .wuppo--input,
.wuppo-field-dimensions .wuppo--input {
  display: flex;
  padding-right: 6px;
  padding-bottom: 4px;
  box-sizing: border-box;
}
.wuppo-field-border .wuppo--input select,
.wuppo-field-spacing .wuppo--input select,
.wuppo-field-dimensions .wuppo--input select {
  margin: 0;
}
.wuppo-field-border .wuppo--input input,
.wuppo-field-spacing .wuppo--input input,
.wuppo-field-dimensions .wuppo--input input {
  position: relative;
  z-index: 1;
  margin: 0;
  width: 65px;
  max-width: 100%;
  text-align: center;
}
.wuppo-field-border .wuppo--color,
.wuppo-field-spacing .wuppo--color,
.wuppo-field-dimensions .wuppo--color {
  float: left;
}
.wuppo-field-border .wuppo--label,
.wuppo-field-spacing .wuppo--label,
.wuppo-field-dimensions .wuppo--label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  min-width: 20px;
  max-width: 100%;
  padding: 0 4px;
  font-size: 12px;
  text-align: center;
  color: #555;
  border: 1px solid #7B776C;
  background-color: #f5f5f5;
}
.wuppo-field-border .wuppo--icon,
.wuppo-field-spacing .wuppo--icon,
.wuppo-field-dimensions .wuppo--icon {
  border-right: 0;
  border-radius: 4px 0 0 4px;
}
.wuppo-field-border .wuppo--icon + input,
.wuppo-field-spacing .wuppo--icon + input,
.wuppo-field-dimensions .wuppo--icon + input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.wuppo-field-border .wuppo--unit,
.wuppo-field-spacing .wuppo--unit,
.wuppo-field-dimensions .wuppo--unit {
  border-left: 0;
  border-radius: 0 4px 4px 0;
}
.wuppo-field-border .wuppo--is-unit,
.wuppo-field-spacing .wuppo--is-unit,
.wuppo-field-dimensions .wuppo--is-unit {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/**
 * 03. 06. Field: button_set
 */
.wuppo-field-button_set .wuppo--buttons {
  display: inline-block;
}
.wuppo-field-button_set .wuppo--button {
  position: relative;
  z-index: 1;
  float: left;
  cursor: pointer;
  padding: 7px 14px;
  min-width: 16px;
  text-align: center;
  color: #555;
  border: 1px solid #cccccc;
  background-color: #f7f7f7;
  user-select: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.wuppo-field-button_set .wuppo--button:first-child {
  border-radius: 4px 0 0 4px;
}
.wuppo-field-button_set .wuppo--button:last-child {
  border-radius: 0 4px 4px 0;
}
.wuppo-field-button_set .wuppo--button:not(:first-child) {
  margin-left: -1px;
}
.wuppo-field-button_set .wuppo--button:hover {
  background-color: #eee;
}
.wuppo-field-button_set .wuppo--active:hover,
.wuppo-field-button_set .wuppo--active {
  z-index: 2;
  color: #fff;
  border-color: #006799;
  background-color: #0085ba;
}
.wuppo-field-button_set input {
  display: none;
}

/**
 * 03. 07. Field: checkbox, radio
 */
.wuppo-field-checkbox ul,
.wuppo-field-radio ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
  max-height: 305px;
}
.wuppo-field-checkbox ul li,
.wuppo-field-radio ul li {
  margin-bottom: 6px;
}
.wuppo-field-checkbox ul ul,
.wuppo-field-radio ul ul {
  max-height: none;
}
.wuppo-field-checkbox ul ul li,
.wuppo-field-radio ul ul li {
  margin-left: 8px;
}
.wuppo-field-checkbox ul ul li:first-child,
.wuppo-field-radio ul ul li:first-child {
  margin-left: 0;
}
.wuppo-field-checkbox input,
.wuppo-field-radio input {
  margin: 0 1px;
}
.wuppo-field-checkbox .wuppo--inline-list li,
.wuppo-field-radio .wuppo--inline-list li {
  display: inline-block;
  margin-right: 15px;
}
.wuppo-field-checkbox .wuppo--text,
.wuppo-field-radio .wuppo--text {
  margin-left: 5px;
  vertical-align: middle;
}
.wuppo-field-checkbox .wuppo-checker,
.wuppo-field-radio .wuppo-checker {
  cursor: pointer;
}

/**
 * 03. 08. Field: code_editor
 */
.wuppo-field-code_editor .CodeMirror {
  width: 100%;
  height: 400px;
}
.wuppo-field-code_editor .cm-s-default {
  border: 1px solid #ccd0d4;
}
.wuppo-field-code_editor textarea {
  width: 100%;
  height: 400px;
}

/**
 * 03. 09. Field: color
 */
.wuppo-field-color > input {
  opacity: 0.75;
  width: 115px;
  max-width: 100%;
}
.wuppo-field-color .button.wp-picker-clear {
  padding: 0 8px;
  margin-left: 6px;
  line-height: 2.54545455;
  min-height: 30px;
}

/**
 * 03. 10. Field: color_group
 */
.wuppo-field-color_group .wuppo--left {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}
.wuppo-field-color_group .wuppo--title {
  color: #999;
  margin-bottom: 5px;
}

/**
 * 03. 11. Field: fieldset
 */
.wuppo-field-fieldset .wuppo-fieldset-content {
  border: 1px solid #ccd0d4;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.wuppo-field-fieldset .wuppo-fieldset-content > .wuppo-field {
  padding: 15px;
}
.wuppo-field-fieldset .wuppo-field-subheading {
  font-size: 13px;
}

/**
 * 03. 12. Field: date
 */
.wuppo-field-date input {
  margin: 0;
}
.wuppo-field-date .wuppo--to {
  margin-left: 7px;
}

.wuppo-datepicker-wrapper {
  margin-top: 5px;
  width: auto;
  background-color: #fff;
  z-index: 9999999 !important;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
.wuppo-datepicker-wrapper * {
  float: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.wuppo-datepicker-wrapper .ui-widget-header,
.wuppo-datepicker-wrapper .ui-datepicker-header {
  color: #fff;
  background: #00a0d2;
}
.wuppo-datepicker-wrapper .ui-datepicker-header .ui-state-hover {
  cursor: pointer;
}
.wuppo-datepicker-wrapper .ui-datepicker-title {
  font-size: 14px;
  line-height: 40px;
  text-align: center;
}
.wuppo-datepicker-wrapper .ui-datepicker-prev,
.wuppo-datepicker-wrapper .ui-datepicker-next {
  position: static;
  top: auto;
  left: auto;
  right: auto;
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free", "FontAwesome";
  font-weight: 900;
  font-size: 12px;
  text-align: center;
  width: 41px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wuppo-datepicker-wrapper .ui-datepicker-next span,
.wuppo-datepicker-wrapper .ui-datepicker-prev span {
  display: none;
}
.wuppo-datepicker-wrapper .ui-datepicker-prev {
  float: left;
}
.wuppo-datepicker-wrapper .ui-datepicker-next {
  float: right;
}
.wuppo-datepicker-wrapper .ui-datepicker-prev:before {
  content: '\f053';
}
.wuppo-datepicker-wrapper .ui-datepicker-next:before {
  content: '\f054';
}
.wuppo-datepicker-wrapper .ui-datepicker-prev-hover,
.wuppo-datepicker-wrapper .ui-datepicker-next-hover {
  opacity: 0.75;
}
.wuppo-datepicker-wrapper tbody .ui-datepicker-week-col {
  background-color: #f7f7f7;
}
.wuppo-datepicker-wrapper .ui-datepicker-buttonpane {
  padding: 10px;
  text-align: center;
  background-color: #f7f7f7;
}
.wuppo-datepicker-wrapper .ui-datepicker-buttonpane button {
  cursor: pointer;
  margin: 0 5px;
  padding: 7px 14px;
  border: 1px solid #eee;
  background-color: #fff;
}
.wuppo-datepicker-wrapper select {
  margin: 0 4px;
}
.wuppo-datepicker-wrapper select option {
  color: #555;
}
.wuppo-datepicker-wrapper table {
  font-size: 13px;
  border-collapse: collapse;
  width: 100%;
}
.wuppo-datepicker-wrapper thead {
  color: #fff;
  background: #32373c;
}
.wuppo-datepicker-wrapper th {
  text-align: center;
  padding: 7px;
  border: 1px solid #444;
}
.wuppo-datepicker-wrapper td {
  text-align: center;
  border: 1px solid #f4f4f4;
}
.wuppo-datepicker-wrapper td.ui-datepicker-other-month {
  border: transparent;
}
.wuppo-datepicker-wrapper td .ui-state-default {
  color: #555;
  width: auto;
  display: block;
  padding: 6px 12px;
}
.wuppo-datepicker-wrapper td .ui-state-active,
.wuppo-datepicker-wrapper td .ui-state-hover {
  color: #fff;
  background-color: #0073aa;
}
.wuppo-datepicker-wrapper td.ui-state-disabled .ui-state-default {
  opacity: 0.5;
}

/**
 * 03. 13. Field: gallery
 */
.wuppo-field-gallery ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.wuppo-field-gallery ul li {
  display: inline-block;
  position: relative;
  padding: 4px;
  margin: 0 5px 10px 0;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}
.wuppo-field-gallery ul li img {
  max-height: 60px;
  display: inline-block;
  vertical-align: middle;
}
.wuppo-field-gallery .button {
  margin-right: 5px;
  margin-bottom: 5px;
}

/**
 * 03. 14. Field: group
 */
.wuppo-field-group .wuppo-cloneable-hidden {
  display: none !important;
}
.wuppo-field-group .wuppo-cloneable-wrapper {
  position: relative;
}
.wuppo-field-group .wuppo-cloneable-item {
  display: none;
  position: relative;
  margin-bottom: 5px;
}
.wuppo-field-group .wuppo-cloneable-item h4 {
  font-size: 1em;
}
.wuppo-field-group .ui-accordion .wuppo-cloneable-item {
  display: block;
}
.wuppo-field-group .wuppo-cloneable-content {
  border: 1px solid #ccd0d4;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.wuppo-field-group .wuppo-cloneable-content > .wuppo-field {
  padding: 15px;
}
.wuppo-field-group .wuppo-cloneable-title {
  display: block;
  cursor: pointer;
  position: relative;
  user-select: none;
  margin: 0;
  padding: 15px 65px 15px 10px;
  min-height: 0;
  font-size: 100%;
  border: 1px solid #ccd0d4;
  background-color: #fafafa;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  transition: border-color .15s;
}
.wuppo-field-group .wuppo-cloneable-title:active, .wuppo-field-group .wuppo-cloneable-title:hover, .wuppo-field-group .wuppo-cloneable-title:focus {
  border-color: #999;
  outline: none;
}
.wuppo-field-group .wuppo-cloneable-helper {
  position: absolute;
  top: 12px;
  right: 10px;
  z-index: 1;
  font-size: 14px;
  line-height: 1em;
}
.wuppo-field-group .wuppo-cloneable-helper i {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  color: #999;
}
.wuppo-field-group .wuppo-cloneable-helper i:hover {
  color: #555;
}
.wuppo-field-group .wuppo-cloneable-content {
  padding: 0;
  border-top: 0;
}
.wuppo-field-group .wuppo-cloneable-title-prefix,
.wuppo-field-group .wuppo-cloneable-title-number {
  margin-right: 5px;
}
.wuppo-field-group .wuppo-cloneable-alert {
  display: none;
  margin-bottom: 5px;
  padding: 10px 20px;
  color: #a94442;
  border: 1px solid #ebccd1;
  background-color: #f2dede;
}
.wuppo-field-group .widget-placeholder {
  margin-bottom: 10px;
  border: 1px dashed #f1c40f;
  background-color: #fffae4;
}
.wuppo-field-group .wuppo-cloneable-header-icon {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  width: 17px;
  text-indent: 0;
  vertical-align: text-top;
}
.wuppo-field-group .wuppo-cloneable-placeholder {
  background-color: #ddd;
  margin-top: 4px;
  width: 100px;
  height: 10px;
  font-size: 10px;
  line-height: 10px;
  display: inline-block;
  vertical-align: top;
  border-radius: 2px;
}

/**
 * 03. 15. Field: icon
 */
.wuppo-field-icon .button {
  margin-right: 5px;
}
.wuppo-field-icon .wuppo-icon-select {
  display: flex;
}
.wuppo-field-icon .wuppo-icon-preview:not(.hidden) {
  display: flex;
}
.wuppo-field-icon .wuppo-icon-preview i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  font-size: 14px;
  margin-right: 5px;
  text-align: center;
  vertical-align: top;
  color: #555;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}

/**
 * 03. 16. Field: image_select
 */
.wuppo-field-image_select .wuppo--image {
  display: inline-block;
  margin: 0 5px 5px 0;
}
.wuppo-field-image_select .wuppo--inline-list .wuppo--image {
  display: block;
}
.wuppo-field-image_select figure {
  cursor: pointer;
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  vertical-align: bottom;
  border: 2px solid transparent;
  background-color: #fff;
  user-select: none;
  transition: all .2s;
}
.wuppo-field-image_select figure:before {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 10px;
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free", "FontAwesome";
  font-weight: 900;
  content: "\f00c";
  width: 16px;
  height: 16px;
  line-height: 14px;
  opacity: 0;
  color: #fff;
  background-color: #222;
  transition: opacity .2s;
}
.wuppo-field-image_select .wuppo--active figure {
  border-color: #222;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.wuppo-field-image_select .wuppo--active figure:before {
  opacity: 1;
}
.wuppo-field-image_select img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
.wuppo-field-image_select input {
  display: none;
}

/**
 * 03. 17. Field: link_color
 */
.wuppo-field-link_color .wuppo--left {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}
.wuppo-field-link_color .wuppo--title {
  color: #777;
  margin-bottom: 5px;
}

/**
 * 03. 18. Field: map
 */
.wuppo-field-map input {
  width: 100%;
}
.wuppo-field-map input[type="text"].ui-autocomplete-loading {
  background-position-x: calc(100% - 5px);
}
.wuppo-field-map .wuppo--map-search + .wuppo--map-osm-wrap {
  margin-top: 10px;
}
.wuppo-field-map .wuppo--map-osm-wrap {
  position: relative;
  padding: 5px;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.wuppo-field-map .wuppo--map-osm {
  position: relative;
  z-index: 1;
  min-height: 250px;
}
.wuppo-field-map .wuppo--map-inputs {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.wuppo-field-map .wuppo--map-input {
  flex: 1;
}
.wuppo-field-map .wuppo--map-input:last-child {
  padding-left: 10px;
}
.wuppo-field-map label {
  display: block;
  color: #777;
  font-size: 12px;
  margin: 0 0 2px 0;
}

.wuppo-map-ui-autocomplate {
  z-index: 999999;
  border-radius: 4px;
  overflow: hidden;
}

/**
 * 03. 19. Field: media
 */
.wuppo-field-media .wuppo--placeholder {
  display: flex;
  align-items: flex-start;
}
.wuppo-field-media .wuppo--placeholder input {
  width: 100%;
  margin: 0;
}
.wuppo-field-media .button {
  margin-left: 5px;
}
.wuppo-field-media .hidden + .button {
  margin-left: 0;
}
.wuppo-field-media .wuppo--preview {
  position: relative;
}

/**
 * 03. 20. Field: palette
 */
.wuppo-field-palette .wuppo--palette {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #ddd;
  margin-right: 10px;
  margin-bottom: 10px;
  user-select: none;
  -webkit-user-select: none;
  transition: all .2s;
}
.wuppo-field-palette .wuppo--palette span {
  vertical-align: middle;
  display: inline-block;
  width: 22px;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  text-indent: -999px;
}
.wuppo-field-palette .wuppo--palette:before {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 10px;
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free", "FontAwesome";
  font-weight: 900;
  content: "\f00c";
  width: 16px;
  height: 16px;
  line-height: 14px;
  opacity: 0;
  color: #fff;
  background-color: #222;
  transition: opacity .2s;
}
.wuppo-field-palette .wuppo--active {
  border-color: #222;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.wuppo-field-palette .wuppo--active:before {
  opacity: 1;
}
.wuppo-field-palette input {
  display: none;
}

/**
 * 03. 21. Field: repeater
 */
.wuppo-field-repeater .wuppo-field-text input {
  width: 100%;
}
.wuppo-field-repeater .wuppo-repeater-hidden {
  display: none !important;
}
.wuppo-field-repeater .wuppo-repeater-wrapper .wuppo-repeater-item {
  display: table;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #eee;
}
.wuppo-field-repeater .wuppo-repeater-wrapper .wuppo-repeater-item h4 {
  font-size: 1em;
}
.wuppo-field-repeater .wuppo-repeater-content {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #fff;
}
.wuppo-field-repeater .wuppo-repeater-content > .wuppo-field {
  padding: 15px;
}
.wuppo-field-repeater .wuppo-repeater-helper {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  line-height: 1em;
  border-left: 1px solid #eee;
  background-color: #f7f7f7;
}
.wuppo-field-repeater .wuppo-repeater-helper i {
  display: inline-block;
  cursor: pointer;
  color: #999;
  padding: 5px;
}
.wuppo-field-repeater .wuppo-repeater-helper i:hover {
  color: #555;
}
.wuppo-field-repeater .wuppo-repeater-helper-inner {
  width: 75px;
}
.wuppo-field-repeater .wuppo-repeater-alert {
  display: none;
  margin-bottom: 5px;
  padding: 10px 20px;
  color: #a94442;
  border: 1px solid #ebccd1;
  background-color: #f2dede;
}
.wuppo-field-repeater .widget-placeholder {
  height: 50px;
  margin-bottom: 3px;
  border: 1px dashed #f1c40f;
  background-color: #fffae4;
}
.wuppo-field-repeater .ui-sortable-helper {
  height: 50px !important;
  overflow: hidden !important;
  border-color: #ccc !important;
  background-color: #eee !important;
  opacity: 0.5;
}
.wuppo-field-repeater .ui-sortable-helper .wuppo-repeater-helper,
.wuppo-field-repeater .ui-sortable-helper .wuppo-repeater-content {
  display: none;
}

/**
 * 03. 22. Field: select
 */
.wuppo-field-select .wuppo-fieldset {
  min-height: 30px;
}
.wuppo-field-select .wuppo-chosen {
  display: none;
}
.wuppo-field-select select {
  max-width: 100%;
  margin: 0;
}
.wuppo-field-select .wuppo-hide-select {
  display: none !important;
}

/**
 * 03. 23. Field: slider
 */
.wuppo-field-slider .wuppo--wrap {
  display: flex;
  align-items: center;
}
.wuppo-field-slider .wuppo--input {
  display: flex;
}
.wuppo-field-slider .wuppo--unit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  padding: 0 6px;
  font-size: 11px;
  line-height: 1;
  border-radius: 0 4px 4px 0;
  color: #555;
  border: 1px solid #7e8993;
  border-left: 0;
  background-color: #f5f5f5;
}
.wuppo-field-slider .wuppo-slider-ui {
  margin-right: 15px;
}
.wuppo-field-slider input[type=number] {
  position: relative;
  z-index: 1;
  margin: 0;
  width: 50px;
  text-align: center;
}
.wuppo-field-slider .wuppo--is-unit {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.wuppo-field-slider .ui-slider {
  position: relative;
  width: 100%;
  height: 3px;
  border: none;
  background: #ddd;
  border-radius: 2px;
}
.wuppo-field-slider .ui-slider-range {
  height: 3px;
  border: none;
  background: #333;
  border-radius: 2px;
}
.wuppo-field-slider .ui-slider-handle {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -7px;
  margin-left: -8px;
  border: none;
  background: #333;
  border-radius: 2px;
}
.wuppo-field-slider .ui-state-active,
.wuppo-field-slider .ui-slider-handle:hover {
  cursor: pointer;
  background: #111;
}

/**
 * 03. 24. Field: sortable
 */
.wuppo-field-sortable .wuppo-field-text input {
  width: 100%;
  max-width: 100%;
}
.wuppo-field-sortable .wuppo-sortable .wuppo-sortable-item {
  display: table;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid #eee;
}
.wuppo-field-sortable .wuppo-sortable .wuppo-sortable-item h4 {
  font-size: 1em;
}
.wuppo-field-sortable .wuppo-sortable-content {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #fff;
}
.wuppo-field-sortable .wuppo-sortable-content > .wuppo-field {
  padding: 15px;
}
.wuppo-field-sortable .wuppo-sortable-helper {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  line-height: 1em;
  border-left: 1px solid #eee;
  background-color: #f7f7f7;
}
.wuppo-field-sortable .wuppo-sortable-helper i {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  color: #555;
}
.wuppo-field-sortable .wuppo-sortable-helper i:hover {
  opacity: 0.5;
}
.wuppo-field-sortable .widget-placeholder {
  height: 50px;
  margin-bottom: 3px;
  border: 1px dashed #f1c40f;
  background-color: #fffae4;
}
.wuppo-field-sortable .ui-sortable-helper {
  height: 50px !important;
  overflow: hidden !important;
  border-color: #ccc !important;
  background-color: #eee !important;
  opacity: 0.5;
}
.wuppo-field-sortable .ui-sortable-helper .wuppo-sortable-helper,
.wuppo-field-sortable .ui-sortable-helper .wuppo-sortable-content {
  display: none;
}

/**
 * 03. 25. Field: sorter
 */
.wuppo-field-sorter .ui-sortable-placeholder {
  height: 20px;
  border: 1px dashed #f1c40f;
  background-color: #fffae4;
}
.wuppo-field-sorter .wuppo-modules {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.wuppo-field-sorter .wuppo-modules:first-child {
  padding-right: 15px;
}
.wuppo-field-sorter .wuppo-modules:last-child {
  padding-left: 15px;
}
.wuppo-field-sorter .wuppo-disabled,
.wuppo-field-sorter .wuppo-enabled {
  padding: 5px 15px;
  border: 1px dashed #ddd;
  background-color: #fff;
}
.wuppo-field-sorter .wuppo-disabled li {
  opacity: 0.5;
  transition: opacity .15s;
}
.wuppo-field-sorter .wuppo-disabled .ui-sortable-helper {
  opacity: 1;
}
.wuppo-field-sorter .wuppo-sorter-title {
  font-size: 13px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  border: 1px dashed #ddd;
  border-bottom: none;
  background-color: #f8f8f8;
  text-transform: uppercase;
}
.wuppo-field-sorter ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 62px;
}
.wuppo-field-sorter ul li {
  margin: 10px 0;
  padding: 10px 15px;
  cursor: move;
  font-weight: bold;
  text-align: center;
  border: 1px solid #e5e5e5;
  background-color: #fafafa;
  transition: border-color .15s;
}
.wuppo-field-sorter ul li:hover {
  border-color: #bbb;
}

/**
 * 03. 26. Field: spinner
 */
.wuppo-field-spinner .wuppo--spin {
  display: flex;
}
.wuppo-field-spinner .ui-spinner {
  display: flex;
}
.wuppo-field-spinner .ui-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 20px;
  padding: 0 4px;
  color: #555;
  border: 1px solid #7e8993;
  background-color: #f5f5f5;
}
.wuppo-field-spinner .ui-spinner-button {
  cursor: pointer;
}
.wuppo-field-spinner .ui-spinner-button:hover {
  background-color: #e7e7e7;
}
.wuppo-field-spinner .ui-spinner-button:active {
  background-color: #ddd;
}
.wuppo-field-spinner .ui-spinner-button:before {
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free", "FontAwesome";
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
}
.wuppo-field-spinner .ui-spinner-down {
  order: 1;
  border-right: 0;
  border-radius: 4px 0 0 4px;
}
.wuppo-field-spinner .ui-spinner-down:before {
  content: "\f0d9";
}
.wuppo-field-spinner .ui-spinner-input {
  order: 2;
}
.wuppo-field-spinner .wuppo--unit {
  order: 3;
  border-left: 0;
  user-select: none;
}
.wuppo-field-spinner .ui-spinner-up {
  order: 4;
  border-left: 0;
  border-radius: 0 4px 4px 0;
}
.wuppo-field-spinner .ui-spinner-up:before {
  content: "\f0da";
}
.wuppo-field-spinner input {
  position: relative;
  z-index: 1;
  width: 50px;
  text-align: center;
  margin: 0;
  padding: 0 8px;
  border-radius: 0;
}
.wuppo-field-spinner .ui-button-text,
.wuppo-field-spinner .ui-button-icon,
.wuppo-field-spinner .ui-button-icon-space {
  display: none;
}

/**
 * 03. 27. Field: switcher
 */
.wuppo-field-switcher .wuppo--switcher {
  float: left;
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 26px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ed6f6f;
  user-select: none;
  -webkit-user-select: none;
}
.wuppo-field-switcher .wuppo--ball {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 18px;
  background-color: #fff;
  border-radius: 4px;
  transition: all .1s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.wuppo-field-switcher .wuppo--on,
.wuppo-field-switcher .wuppo--off {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 11px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding-right: 28px;
  opacity: 0;
  transition: all .1s;
}
.wuppo-field-switcher .wuppo--off {
  padding-right: 0;
  padding-left: 28px;
  opacity: 1;
}
.wuppo-field-switcher .wuppo--active {
  background: #4fb845;
}
.wuppo-field-switcher .wuppo--active .wuppo--on {
  opacity: 1;
}
.wuppo-field-switcher .wuppo--active .wuppo--off {
  opacity: 0;
}
.wuppo-field-switcher .wuppo--active .wuppo--ball {
  left: 100%;
  margin-left: -28px;
}
.wuppo-field-switcher .wuppo--label {
  float: left;
  margin-top: 4px;
  margin-left: 8px;
  font-weight: 400;
  color: #999;
}

/**
 * 03. 28. Field: tabbed
 */
.wuppo-field-tabbed .wuppo-tabbed-content {
  border: 1px solid #ccd0d4;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.wuppo-field-tabbed .wuppo-tabbed-content > .wuppo-field {
  padding: 15px;
}
.wuppo-field-tabbed .wuppo-tabbed-nav .wuppo--icon {
  padding-right: 5px;
}
.wuppo-field-tabbed .wuppo-tabbed-nav a {
  display: inline-block;
  padding: 12px 15px;
  margin-top: 1px;
  margin-right: 5px;
  margin-bottom: -1px;
  position: relative;
  text-decoration: none;
  color: #444;
  font-weight: 600;
  border: 1px solid #ccd0d4;
  background-color: #f3f3f3;
  transition: all .2s;
}
.wuppo-field-tabbed .wuppo-tabbed-nav a:hover {
  background-color: #f9f9f9;
}
.wuppo-field-tabbed .wuppo-tabbed-nav a.wuppo-tabbed-active {
  background-color: #fff;
  border-bottom-color: #fff;
}
.wuppo-field-tabbed .wuppo-tabbed-nav a:focus {
  outline: none;
  box-shadow: none;
}

/**
 * 03. 29. Field: text
 */
.wuppo-field-text input {
  width: 50%;
  max-width: 100%;
  margin: 0;
}

/**
 * 03. 30. Field: textarea
 */
.wuppo-field-textarea textarea {
  width: 100%;
  max-width: 100%;
  min-height: 125px;
}
.wuppo-field-textarea .wuppo-shortcode-button {
  margin-bottom: 10px;
  margin-right: 5px;
}

/**
 * 03. 31. Field: typography
 */
.wuppo-field-typography textarea,
.wuppo-field-typography select {
  margin: 0;
  min-width: 100%;
  max-width: 100%;
}
.wuppo-field-typography .wuppo--title {
  color: #777;
  margin: 0 0 2px 0;
  font-size: 12px;
}
.wuppo-field-typography .wuppo--title small {
  vertical-align: top;
}
.wuppo-field-typography .wuppo--blocks {
  display: flex;
  flex-wrap: wrap;
}
.wuppo-field-typography .wuppo--block {
  flex: 1;
  max-width: 100%;
  padding-right: 6px;
  padding-bottom: 6px;
}
.wuppo-field-typography .wuppo--input {
  margin: 0;
  min-width: 100%;
}
.wuppo-field-typography .wuppo--input-wrap {
  position: relative;
}
.wuppo-field-typography .wuppo--unit {
  position: absolute;
  z-index: 1;
  right: 4px;
  top: 4px;
  bottom: 4px;
  padding: 2px 6px;
  color: #666;
  font-size: 11px;
  line-height: 1;
  border-radius: 2px;
  background: #eee;
  user-select: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wuppo-field-typography .wuppo--preview {
  font-size: 16px;
  line-height: 20px;
  padding: 20px;
  color: #222;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 2.5px;
  user-select: none;
  -webkit-user-select: none;
  transition: background-color .2s, border-color .2s;
}
.wuppo-field-typography .wuppo--block-preview {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  max-width: 100%;
}
.wuppo-field-typography .wuppo--black-background {
  border-color: #000;
  background-color: #000;
}
.wuppo-field-typography .wuppo--toggle {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #999;
}
.wuppo-field-typography .wuppo--block-extra-styles {
  margin-top: 5px;
}

/**
 * 03. 32. Field: upload
 */
.wuppo-field-upload input {
  width: 100%;
  margin: 0;
}
.wuppo-field-upload .wuppo--wrap {
  display: flex;
  align-items: flex-start;
}
.wuppo-field-upload .button {
  margin-left: 5px;
}
.wuppo-field-upload .wuppo--preview {
  position: relative;
}

/**
 * 03. 33. Field: wp_editor
 */
.wuppo-field-wp_editor .wuppo-wp-editor {
  float: left;
  width: 100%;
}
.wuppo-field-wp_editor .mce-toolbar-grp {
  border: none;
}
.wuppo-field-wp_editor .mce-btn.mce-active button,
.wuppo-field-wp_editor .mce-btn.mce-active:hover button,
.wuppo-field-wp_editor .mce-btn.mce-active i,
.wuppo-field-wp_editor .mce-btn.mce-active:hover i {
  color: #23282d;
}
.wuppo-field-wp_editor .wp-media-buttons {
  position: relative;
  z-index: 2;
}
.wuppo-field-wp_editor .wp-editor-tabs {
  position: relative;
  z-index: 1;
}
.wuppo-field-wp_editor .wuppo-no-tinymce {
  border: 1px solid #e5e5e5;
}
.wuppo-field-wp_editor .wuppo-no-quicktags .wp-media-buttons {
  float: none;
  display: block;
}
.wuppo-field-wp_editor .wuppo-no-quicktags .mce-tinymce {
  box-shadow: none;
  border: 1px solid #e5e5e5;
}
.wuppo-field-wp_editor textarea {
  width: 100%;
  max-width: 100%;
  margin: 0;
  box-shadow: none;
}

/**
 * 03. 34. Field: heading
 */
.wuppo-field-heading {
  font-size: 1.5em;
  font-weight: bold;
  color: #23282d;
  background-color: #f5f5f5;
}

/**
 * 03. 35. Field: subheading
 */
.wuppo-field-subheading {
  font-size: 14px;
  font-weight: bold;
  padding-top: 17px;
  padding-bottom: 17px;
  color: #23282d;
  background-color: #f7f7f7;
}

/**
 * 03. 36. Field: submessage
 */
.wuppo-field-submessage {
  padding: 0 !important;
  border: 0 !important;
}
.wuppo-field-submessage + .wuppo-field {
  border-top: 0 !important;
}

.wuppo-submessage {
  font-size: 12px;
  padding: 17px 30px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.wuppo-submessage-success {
  color: #3c763d;
  border-color: #d6e9c6;
  background-color: #dff0d8;
}

.wuppo-submessage-info {
  color: #31708f;
  border-color: #bce8f1;
  background-color: #d9edf7;
}

.wuppo-submessage-warning {
  color: #8a6d3b;
  border-color: #faebcc;
  background-color: #fcf8e3;
}

.wuppo-submessage-danger {
  color: #a94442;
  border-color: #ebccd1;
  background-color: #f2dede;
}

.wuppo-submessage-normal {
  color: #23282d;
  border-color: #eee;
  background-color: #f7f7f7;
}

/**
 * 03. 37. Field: notice
 */
.wuppo-field-notice {
  background-color: #f7f7f7;
}

.wuppo-notice {
  padding: 12px;
  background-color: #fff;
  border-left-style: solid;
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wuppo-notice-success {
  border-color: #46b450;
}

.wuppo-notice-info {
  border-color: #339fd4;
}

.wuppo-notice-warning {
  border-color: #ffbc00;
}

.wuppo-notice-danger {
  border-color: #dc3232;
}

.wuppo-notice-normal {
  border-color: #222;
}

/**
 * 03. 38. Field: number
 */
.wuppo-field-number input {
  width: 100%;
  margin: 0;
}
.wuppo-field-number .wuppo--wrap {
  position: relative;
  float: left;
  width: 100px;
}
.wuppo-field-number .wuppo--unit {
  position: absolute;
  z-index: 1;
  right: 4px;
  top: 4px;
  bottom: 4px;
  padding: 2px 6px;
  color: #666;
  font-size: 11px;
  line-height: 1;
  border-radius: 2px;
  background: #eee;
  user-select: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/**
 * 03. 39. Field: link
 */
.wuppo-field-link .wuppo--result {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding: 7px 10px;
  margin-bottom: 7px;
  color: #777;
  border: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  border-radius: 2px;
  world-break: break-word;
}
.wuppo-field-link .wuppo--wrap {
  position: relative;
  float: left;
  width: 100px;
}
.wuppo-field-link .wuppo--unit {
  position: absolute;
  z-index: 1;
  right: 4px;
  top: 4px;
  bottom: 4px;
  padding: 2px 6px;
  color: #666;
  font-size: 11px;
  line-height: 1;
  border-radius: 2px;
  background: #eee;
  user-select: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/**
 * 03. 40. others
 */
.wuppo-help {
  cursor: help;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 13px;
  color: #aaa;
}
.wuppo-help .wuppo-help-text {
  display: none;
}

.wuppo--preview {
  max-width: 100%;
}

.wuppo-image-preview {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 6px;
  max-width: 120px;
  max-height: 120px;
  min-width: 40px;
  min-height: 40px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}
.wuppo-image-preview i {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 4px;
  top: 4px;
  font-size: 14px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #dd3333;
  opacity: 0.75;
  border-radius: 2px;
  transition: all .2s;
}
.wuppo-image-preview i:hover {
  opacity: 1;
}
.wuppo-image-preview i:focus {
  box-shadow: none;
}
.wuppo-image-preview span {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100%;
  width: 100%;
}
.wuppo-image-preview img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.wuppo-field-custom .wuppo-field {
  padding: 0;
}

.wuppo-field .chosen-container-single .chosen-single {
  height: 28px;
  line-height: 26px;
}
.wuppo-field .chosen-container-single .chosen-single abbr {
  top: 0;
  right: 20px;
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free", "FontAwesome";
  font-weight: 900;
  font-size: 12px;
  height: 100%;
  width: 18px;
  color: #aaa;
  text-align: center;
  background: none;
}
.wuppo-field .chosen-container-single .chosen-single abbr:before {
  content: "\f00d";
}
.wuppo-field .chosen-container-single .chosen-single abbr:hover {
  color: #555;
}
.wuppo-field .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free", "FontAwesome";
  font-weight: 900;
  font-size: 12px;
  height: 100%;
  width: 18px;
  color: #aaa;
  text-align: center;
  background: none;
}
.wuppo-field .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
  content: "\f00d";
  display: inline-block;
  padding-top: 3px;
}
.wuppo-field .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  color: #555;
}
.wuppo-field .chosen-container-single .chosen-single div b {
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free", "FontAwesome";
  font-weight: 900;
  font-size: 14px;
  color: #aaa;
  background: none;
}
.wuppo-field .chosen-container-single .chosen-single div b:before {
  content: "\f107";
}
.wuppo-field .chosen-container-single .chosen-single div b:hover {
  color: #555;
}
.wuppo-field .chosen-container-multi .chosen-choices li.search-choice-placeholder {
  border: 1px dashed #aaa;
  margin: 3px 5px 3px 0;
}
.wuppo-field .chosen-container-multi .ui-sortable li.search-choice span {
  cursor: move;
}
.wuppo-field .chosen-container-active.chosen-with-drop .chosen-single div b:before {
  content: "\f106";
}
.wuppo-field .chosen-container-single .chosen-single-with-deselect span {
  margin-right: 40px;
}
.wuppo-field .chosen-container-single .chosen-search input[type="text"] {
  background: none;
}
.wuppo-field .chosen-container-single .chosen-search:before {
  font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free", "FontAwesome";
  font-weight: 900;
  font-size: 11px;
  content: "\f002";
  position: absolute;
  right: 12px;
  top: 10px;
  color: #aaa;
}
.wuppo-field .wp-picker-container {
  display: inline-block;
}
.wuppo-field .wp-picker-container .wp-color-result.button {
  margin-bottom: 0;
}
.wuppo-field .wuppo--transparent-wrap {
  display: none;
  position: relative;
  top: -1px;
  width: 235px;
  padding: 9px 10px;
  border: 1px solid #dfdfdf;
  border-top: none;
  background-color: #fff;
}
.wuppo-field .wp-picker-active .wuppo--transparent-wrap {
  display: block;
}
.wuppo-field .wuppo--transparent-slider {
  position: absolute;
  width: 190px;
  margin-left: 2px;
  height: 18px;
}
.wuppo-field .wuppo--transparent-slider .ui-slider-handle {
  position: absolute;
  top: -3px;
  bottom: -3px;
  z-index: 5;
  border-color: #aaa;
  border-style: solid;
  border-width: 4px 3px;
  width: 10px;
  height: 16px;
  margin: 0 -5px;
  background: none;
  cursor: ew-resize;
  opacity: 0.9;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.wuppo-field .wuppo--transparent-slider .ui-slider-handle:before {
  content: " ";
  position: absolute;
  left: -2px;
  right: -2px;
  top: -3px;
  bottom: -3px;
  border: 2px solid #fff;
  border-radius: 3px;
}
.wuppo-field .wuppo--transparent-offset {
  height: 18px;
  width: 200px;
  background: url(../images/checkerboard.png) repeat-y center left scroll #fff;
  border-radius: 2px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
}
.wuppo-field .wuppo--transparent-text {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 30px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #999;
}
.wuppo-field .wuppo--transparent-button {
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
  border-radius: 2px;
  padding: 3px 7px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  letter-spacing: 0.2px;
  color: #777;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  transition: background-color .2s, border-color .2s, color .2s;
}
.wuppo-field .wuppo--transparent-active .wp-color-result {
  background-image: url(../images/checkerboard.png);
  background-size: 135px;
  background-position: center left;
  background-color: transparent !important;
}
.wuppo-field .wuppo--transparent-active .wuppo--transparent-button {
  color: #fff;
  border-color: #3ea032;
  background-color: #4fb845;
}
.wuppo-field .wuppo--transparent-active .fa:before {
  content: "\f205";
}

/**
 * 04. Widget
 */
.wuppo-widgets > .wuppo-field {
  position: relative;
  top: -1px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 12px 15px;
}
.wuppo-widgets > .wuppo-field .wuppo-title {
  float: none;
  width: 100%;
  margin-bottom: 5px;
}
.wuppo-widgets > .wuppo-field .wuppo-fieldset {
  float: none;
  width: 100%;
}
.wuppo-widgets .wuppo-field-text input {
  width: 100%;
}
.wuppo-widgets .wuppo-field-notice .wuppo-notice {
  padding: 15px;
}

.control-section .wuppo-widgets > .wuppo-field {
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px 12px;
}

.wp-block .wuppo-widgets {
  font-size: 13px;
}
.wp-block .wuppo-widgets > .wuppo-field {
  margin-left: -10px;
  margin-right: -10px;
}
.wp-block .wuppo-widgets > .wuppo-field .button-primary {
  color: #fff;
}
.wp-block .wuppo-widgets > .wuppo-field > .wuppo-title > h4 {
  font-size: 13px;
}

/**
 * 05. Widget
 */
.control-section .wuppo-field {
  padding: 0;
}
.control-section .wuppo-field .wuppo-title {
  float: none;
  width: 100%;
  margin-bottom: 6px;
}
.control-section .wuppo-field .wuppo-title h4 {
  display: block;
  font-size: 13px;
  line-height: 1;
  font-weight: 600;
  color: inherit;
}
.control-section .wuppo-field .wuppo-fieldset {
  float: none;
  width: 100%;
}
.control-section .wuppo-help {
  top: -5px;
  right: -5px;
}
.control-section .wuppo-field-select select {
  width: 100%;
}
.control-section .wuppo-field-heading {
  color: inherit;
  font-size: 14px;
  line-height: 1em;
  margin-right: -15px;
  margin-left: -15px;
  padding: 15px;
}
.control-section .wuppo-field-subheading {
  color: inherit;
  font-size: 11px;
  margin-right: -15px;
  margin-left: -15px;
  padding: 10px 15px;
}
.control-section .wuppo-subtitle-text {
  margin-top: 4px;
  font-size: 12px;
}
.control-section .wuppo-field-submessage .wuppo-submessage {
  margin-right: -15px;
  margin-left: -15px;
  padding: 15px;
}
.control-section .wuppo-fieldset .wuppo-field-submessage .wuppo-submessage,
.control-section .wuppo-fieldset .wuppo-field-heading,
.control-section .wuppo-fieldset .wuppo-field-subheading {
  margin-left: 0;
  margin-right: 0;
}
.control-section .wuppo-field-date .wuppo--to {
  margin-left: 0;
}
.control-section .wuppo-field-sorter ul li {
  padding: 5px;
}
.control-section .wuppo-field-sorter .wuppo-modules {
  float: none;
  width: 100%;
}
.control-section .wuppo-field-sorter .wuppo-modules:first-child {
  padding-right: 0;
  padding-bottom: 15px;
}
.control-section .wuppo-field-background .wuppo--background-attributes {
  flex-direction: column;
}
.control-section .wuppo-field-spacing input {
  width: 90px;
}
.control-section .wuppo-field-border .wuppo--input {
  flex: 1 50%;
}
.control-section .wuppo-field-border input,
.control-section .wuppo-field-border select {
  width: 100%;
}
.control-section .wuppo-field-spinner input {
  width: 50px;
}
.control-section .wuppo-field-number .wuppo--wrap {
  width: 100%;
}
.control-section .wuppo-field-backup .wuppo-export-data {
  display: none;
}
.control-section .wuppo-field-fieldset .wuppo-fieldset-content {
  border-color: #e5e5e5;
}
.control-section .wuppo-tabbed-content > .wuppo-field,
.control-section .wuppo-sortable-content > .wuppo-field,
.control-section .wuppo-repeater-content > .wuppo-field,
.control-section .wuppo-fieldset-content > .wuppo-field,
.control-section .wuppo-cloneable-content > .wuppo-field,
.control-section .wuppo-accordion-content > .wuppo-field {
  padding: 10px;
}
.control-section .wuppo-tabbed-content > .wuppo-field .wuppo-title,
.control-section .wuppo-sortable-content > .wuppo-field .wuppo-title,
.control-section .wuppo-repeater-content > .wuppo-field .wuppo-title,
.control-section .wuppo-fieldset-content > .wuppo-field .wuppo-title,
.control-section .wuppo-cloneable-content > .wuppo-field .wuppo-title,
.control-section .wuppo-accordion-content > .wuppo-field .wuppo-title {
  margin-bottom: 5px;
}
.control-section .wuppo-tabbed-content > .wuppo-field h4,
.control-section .wuppo-sortable-content > .wuppo-field h4,
.control-section .wuppo-repeater-content > .wuppo-field h4,
.control-section .wuppo-fieldset-content > .wuppo-field h4,
.control-section .wuppo-cloneable-content > .wuppo-field h4,
.control-section .wuppo-accordion-content > .wuppo-field h4 {
  font-size: 12px;
}
.control-section .wuppo-depend-hidden.wuppo-depend-on {
  display: none !important;
}
.control-section .wuppo-depend-visible.wuppo-depend-on {
  border-top: 0 !important;
}

/**
 * 06. Taxonomy
 */
.wuppo-taxonomy {
  max-width: 95%;
}
.wuppo-taxonomy > .wuppo-field {
  border-top: none !important;
}
.wuppo-taxonomy > .wuppo-field-heading {
  font-size: 1.1em;
  padding: 20px !important;
  border: 1px solid #ddd;
}
.wuppo-taxonomy > .wuppo-field-subheading {
  font-size: 12px;
  padding: 15px !important;
  border: 1px solid #ddd;
}
.wuppo-taxonomy > .wuppo-field-submessage .wuppo-submessage {
  padding: 15px;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
}
.wuppo-taxonomy > .wuppo-field-notice {
  background-color: transparent;
}
.wuppo-taxonomy .wuppo-section-title {
  display: block;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.wuppo-taxonomy-add-fields > .wuppo-field {
  padding: 8px 0;
}
.wuppo-taxonomy-add-fields > .wuppo-field > .wuppo-title {
  float: none;
  width: 100%;
  padding: 2px 2px 4px 0;
}
.wuppo-taxonomy-add-fields > .wuppo-field > .wuppo-title h4 {
  font-size: 12px;
  font-weight: normal;
}
.wuppo-taxonomy-add-fields > .wuppo-field > .wuppo-fieldset {
  float: none;
  width: 100%;
}
.wuppo-taxonomy-add-fields > .wuppo-field > .wuppo-fieldset > .wuppo-help {
  right: -5px;
}
.wuppo-taxonomy-add-fields + p.submit {
  margin-top: 0;
}

.wuppo-taxonomy-edit-fields > .wuppo-field {
  padding: 20px 0;
}
.wuppo-taxonomy-edit-fields > .wuppo-field > .wuppo-title {
  width: 200px;
}
.wuppo-taxonomy-edit-fields > .wuppo-field > .wuppo-title h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  display: inline-block;
  vertical-align: middle;
}
.wuppo-taxonomy-edit-fields > .wuppo-field > .wuppo-fieldset {
  width: calc(100% - 220px);
}
.wuppo-taxonomy-edit-fields > .wuppo-field > .wuppo-fieldset > .wuppo-help {
  top: -5px;
  right: -5px;
}
.wuppo-taxonomy-edit-fields > .wuppo-field-submessage {
  margin: 20px 0;
}
.wuppo-taxonomy-edit-fields > .wuppo-field-subheading,
.wuppo-taxonomy-edit-fields > .wuppo-field-heading {
  margin: 20px 0;
  border: 1px solid #ddd;
}

/**
 * 08. Nav Menu
 */
.wuppo-nav-menu-options {
  clear: both;
  float: left;
  width: 100%;
}
.wuppo-nav-menu-options > .wuppo-fields {
  margin-left: -10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.wuppo-nav-menu-options > .wuppo-fields > .wuppo-field {
  padding: 12px 14px 12px 12px;
}
.wuppo-nav-menu-options > .wuppo-fields > .wuppo-field .wuppo-title {
  float: none;
  width: 100%;
  margin-bottom: 5px;
}
.wuppo-nav-menu-options > .wuppo-fields > .wuppo-field .wuppo-fieldset {
  float: none;
  width: 100%;
}
.wuppo-nav-menu-options .wuppo-field-text input {
  width: 100%;
}
.wuppo-nav-menu-options .wuppo-field-notice .wuppo-notice {
  padding: 15px;
}

.wuppo-nav-menu-title {
  padding: 12px 14px 12px 12px;
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.wuppo-nav-menu-title:first-child {
  border-top: 0;
}
.wuppo-nav-menu-title h4 {
  margin: 0;
  padding: 0;
  color: #23282d;
}

.wuppo-nav-menu-icon {
  margin-right: 5px;
}

/**
 * 06. Profile
 */
.wuppo-profile-options > h2 > .fa {
  padding-right: 7px;
}
.wuppo-profile-options > .wuppo-field {
  max-width: 750px;
  padding: 15px 0;
  border-top: none !important;
}
.wuppo-profile-options > .wuppo-field > .wuppo-title {
  width: 200px;
}
.wuppo-profile-options > .wuppo-field > .wuppo-title h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  display: inline-block;
  vertical-align: middle;
}
.wuppo-profile-options > .wuppo-field > .wuppo-fieldset {
  width: calc(100% - 220px);
}
.wuppo-profile-options > .wuppo-field > .wuppo-fieldset > .wuppo-help {
  top: -15px;
  right: -5px;
}
.wuppo-profile-options > .wuppo-field-heading {
  font-size: 1.1em;
}
.wuppo-profile-options > .wuppo-field-subheading {
  font-size: 12px;
}
.wuppo-profile-options > .wuppo-field-subheading,
.wuppo-profile-options > .wuppo-field-heading {
  margin: 10px 0;
  padding: 15px !important;
  border: 1px solid #ddd;
}
.wuppo-profile-options > .wuppo-field-submessage {
  margin: 20px 0;
}
.wuppo-profile-options > .wuppo-field-submessage .wuppo-submessage {
  padding: 10px;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
}
.wuppo-profile-options > .wuppo-field-notice {
  background-color: transparent;
}

/**
 * 09. Modal
 */
.wuppo-modal {
  position: fixed;
  z-index: 100101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wuppo-modal.hidden {
  display: none;
}

.wuppo-modal-icon {
  z-index: 100102;
}

.wuppo-modal-table {
  display: table;
  width: 100%;
  height: 100%;
}

.wuppo-modal-table-cell {
  display: table-cell;
  vertical-align: middle;
  margin: 100px 0;
}

.wuppo-modal-inner {
  position: relative;
  z-index: 10;
  width: 760px;
  height: 750px;
  margin: 0 auto;
  background-color: #fff;
}

.wuppo-modal-content {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 595px;
}
.wuppo-modal-content .wuppo-shortcode-button {
  display: none;
}
.wuppo-modal-content .wuppo-field {
  padding: 15px 30px 15px 15px;
}
.wuppo-modal-content a:active, .wuppo-modal-content a:focus {
  outline: none;
  box-shadow: none;
}
.wuppo-modal-content h4 {
  font-size: 13px;
}
.wuppo-modal-content h4 small {
  font-style: italic;
  font-weight: 400;
  color: #aaa;
}

.wuppo-modal-title {
  position: relative;
  background-color: #fcfcfc;
  border-bottom: 1px solid #ddd;
  height: 36px;
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  margin: 0;
  padding: 0 36px 0 16px;
}

.wuppo-modal-header {
  width: 100%;
  padding: 14px 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
.wuppo-modal-header select {
  display: block;
  width: 250px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 1;
  height: 30px;
  min-height: 30px;
  background-color: #fff;
}

.wuppo-modal-close {
  color: #666;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
}
.wuppo-modal-close:before {
  font: normal 20px/36px dashicons;
  content: "\f158";
  vertical-align: top;
  width: 36px;
  height: 36px;
}
.wuppo-modal-close:hover {
  opacity: 0.5;
}

.wuppo-modal-insert-wrapper {
  text-align: center;
  width: 100%;
  padding: 15px 0;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

.wuppo-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

/**
 * 09. 01. Shortcode Modal
 */
.wuppo--repeatable {
  padding: 15px 15px 0 15px;
}

.wuppo--repeat-button-block {
  text-align: center;
  padding-bottom: 15px;
}

.wuppo--repeat-shortcode {
  position: relative;
  margin-bottom: 15px;
  border: 1px dashed #ddd;
}
.wuppo--repeat-shortcode:first-child .wuppo-repeat-remove {
  display: none;
}
.wuppo--repeat-shortcode .wuppo-repeat-remove {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  background-color: #e14d43;
  opacity: 0.5;
}
.wuppo--repeat-shortcode .wuppo-repeat-remove:hover {
  opacity: 0.5;
}

.wuppo-shortcode-single .wuppo-modal-inner {
  height: 750px;
}
.wuppo-shortcode-single .wuppo-modal-content {
  height: 652px;
}

.elementor-editor-active .wuppo-shortcode-button {
  margin-left: 5px;
}
.elementor-editor-active .wuppo-modal .hidden {
  display: none !important;
}

/**
 * 09. 02. Gutenberg Modal
 */
.wuppo-shortcode-block {
  text-align: center;
  padding: 14px;
  font-size: 13px;
  background-color: #f5f5f5;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.wuppo-shortcode-block .components-button {
  margin-bottom: 10px;
}

/**
 * 09. 03. Icon Modal
 */
.wuppo-modal-icon .wuppo-icon-title {
  padding: 15px 0;
  margin: 4px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #eee;
  background-color: #f7f7f7;
}
.wuppo-modal-icon .wuppo-modal-header {
  text-align: center;
}
.wuppo-modal-icon .wuppo-icon-search {
  width: 50%;
  height: 40px;
  line-height: 40px;
}
.wuppo-modal-icon i {
  cursor: pointer;
  display: inline-block;
  margin: 4px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  color: #555;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 2px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.wuppo-modal-icon i:hover {
  color: #fff;
  border-color: #222;
  background-color: #222;
}
.wuppo-modal-icon .wuppo-modal-content {
  padding: 10px;
  height: 618px;
}
.wuppo-modal-icon .wuppo-error-text {
  padding: 10px;
}

.wuppo-modal-loading {
  display: none;
  position: absolute;
  left: 15px;
  top: 15px;
}

.wuppo-loading {
  position: relative;
  width: 20px;
  height: 20px;
  background: #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
}
.wuppo-loading:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  content: "";
  margin-top: -2px;
  margin-left: -2px;
  background-color: white;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: wuppoLoader;
  border-radius: 4px;
}

@keyframes wuppoLoader {
  0% {
    transform: rotate(0deg) translateX(-6px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(-6px) rotate(-360deg);
  }
}
/**
 * 10. Helper
 */
.wuppo-subtitle-text {
  margin-top: 6px;
  font-weight: 400;
  color: #999;
}

.wuppo-desc-text {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 6px;
  font-weight: 400;
  color: #999;
}

.wuppo-error-text {
  margin-top: 6px;
  color: #d02c21;
}

.wuppo-before-text {
  margin-bottom: 6px;
}

.wuppo-after-text {
  margin-top: 6px;
}

.wuppo-metabox-hide {
  display: none !important;
}

.wuppo-metabox-show {
  display: block !important;
}

.wuppo-depend-hidden.wuppo-depend-on {
  display: none;
}

.wuppo-depend-visible.wuppo-depend-on {
  display: block;
  opacity: 0.75;
  filter: grayscale(1);
  user-select: none;
  border-top: 1px solid #eee;
}
.wuppo-depend-visible.wuppo-depend-on .clear:before {
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #eee;
  opacity: 0.25;
  z-index: 10;
}

.wuppo-warning-primary {
  color: #fff !important;
  border-color: #dc3545 !important;
  background: #dc3545 !important;
}
.wuppo-warning-primary:hover, .wuppo-warning-primary:focus {
  border-color: #bd2130 !important;
  background: #bd2130 !important;
}
.wuppo-warning-primary:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #bd2130 !important;
}
.wuppo-warning-primary:active {
  border-color: #bd2130 !important;
  background: #bd2130 !important;
}

.wuppo-form-result {
  display: none;
  float: left;
  padding: 0 8px;
  margin-right: 4px;
  font-size: 11px;
  line-height: 30px;
  user-select: none;
  border-radius: 2px;
}

.wuppo-form-show {
  display: block;
}

.wuppo-form-success {
  color: #fff;
  background-color: #46b450;
}

.wuppo-form-warning {
  color: #8a6d3b;
  background-color: #faebcc;
}

.wuppo-label-error {
  position: relative;
  top: -2px;
  display: inline-block;
  font-size: 10px;
  line-height: 10px;
  height: 10px;
  width: 10px;
  padding: 1px;
  font-style: normal;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  background-color: #e10000;
  border-radius: 2px;
}

.wuppo-no-option {
  padding: 30px;
}

.wuppo-input-number {
  -moz-appearance: textfield;
}

.wuppo-input-number::-webkit-inner-spin-button,
.wuppo-input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wuppo-fa5-shims .wuppo .fas,
.wuppo-fa5-shims .wuppo .far,
.wuppo-fa5-shims .wuppo .fab {
  font-family: "FontAwesome";
  font-style: normal;
}

/**
 * 11. Welcome Page
 */
.wuppo-welcome-wrap {
  position: relative;
  margin: 25px 40px 0 20px;
  font-size: 15px;
  max-width: 1200px;
}
.wuppo-welcome-wrap p {
  font-size: 14px;
  line-height: 1.5;
}
.wuppo-welcome-wrap h1 {
  margin: 0.2em 200px 0 0;
  padding: 0;
  color: #32373c;
  line-height: 1.2em;
  font-size: 2.8em;
  font-weight: 400;
}
.wuppo-welcome-wrap .wuppo-logo {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  height: 160px;
  width: 140px;
  background-image: linear-gradient(45deg, #2d67cb, #ad19f3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), inset 0 0 0 4px rgba(0, 0, 0, 0.25);
}
.wuppo-welcome-wrap .wuppo-logo .wuppo--effects i {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.15);
  transform: rotate(-45deg);
}
.wuppo-welcome-wrap .wuppo-logo .wuppo--effects i:nth-child(1) {
  bottom: -20px;
  right: -70px;
}
.wuppo-welcome-wrap .wuppo-logo .wuppo--effects i:nth-child(2) {
  bottom: -35px;
  right: -80px;
}
.wuppo-welcome-wrap .wuppo-logo .wuppo--effects i:nth-child(3) {
  bottom: -50px;
  right: -90px;
}
.wuppo-welcome-wrap .wuppo-logo .wuppo--effects i:nth-child(4) {
  bottom: -65px;
  right: -100px;
}
.wuppo-welcome-wrap .wuppo-logo .wuppo--wp-logos {
  position: relative;
  padding-top: 25px;
  text-align: center;
}
.wuppo-welcome-wrap .wuppo-logo .wuppo--wp-logo {
  position: absolute;
  left: 20px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/wp-logo.svg);
}
.wuppo-welcome-wrap .wuppo-logo .wuppo--wp-plugin-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/wp-plugin-logo.svg);
  border-radius: 100%;
  vertical-align: middle;
}
.wuppo-welcome-wrap .wuppo-logo .wuppo--text {
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  color: #fff;
  font-size: 13px;
  line-height: 1.2em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}
.wuppo-welcome-wrap .wuppo-logo .wuppo--version {
  top: auto;
  left: auto;
  right: 8px;
  bottom: 4px;
  font-size: 11px;
  text-transform: lowercase;
}
.wuppo-welcome-wrap .wuppo-about-text {
  font-weight: 400;
  line-height: 1.6em;
  font-size: 19px;
  margin: 1em 200px 1em 0;
  color: #555d66;
}
.wuppo-welcome-wrap .wuppo-demo-button {
  margin: 1em 200px 2em 0;
}
.wuppo-welcome-wrap .nav-tab-wrapper {
  margin-bottom: 20px;
}
.wuppo-welcome-wrap ul {
  list-style-type: disc;
  padding-left: 15px;
}
.wuppo-welcome-wrap .wuppo--col {
  float: left;
  padding-right: 20px;
  box-sizing: border-box;
}
.wuppo-welcome-wrap .wuppo--col-2 {
  width: 50%;
}
.wuppo-welcome-wrap .wuppo--col-3 {
  width: 33.333%;
}
.wuppo-welcome-wrap .wuppo--col-4 {
  width: 25%;
}
.wuppo-welcome-wrap .wuppo--col-5 {
  width: 20%;
}
.wuppo-welcome-wrap .wuppo--col-last {
  padding-right: 0;
}
.wuppo-welcome-wrap .wuppo--col-upgrade {
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.wuppo--table-compare thead td,
.wuppo--table-compare tfoot td {
  text-align: center;
}
.wuppo--table-compare td {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
.wuppo--table-compare td:first-child {
  text-align: left;
}
.wuppo--table-compare tfoot td {
  padding: 15px 0;
}
.wuppo--table-compare .fa {
  font-size: 18px;
}
.wuppo--table-compare .fa-check-circle {
  color: #46b450;
}
.wuppo--table-compare .fa-times-circle {
  color: #dc3232;
}

.wuppo-welcome-cols {
  clear: both;
  margin: 20px 0;
  background-color: #fff;
  padding: 0 0;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
}
.wuppo-welcome-cols .wuppo--col {
  width: 33.333%;
  float: left;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  min-height: 200px;
  border-right: 1px solid #e5e5e5;
}
.wuppo-welcome-cols .wuppo--left,
.wuppo-welcome-cols .wuppo--block {
  float: left;
  width: 20%;
  padding: 0 30px;
  text-align: center;
  box-sizing: border-box;
}
.wuppo-welcome-cols .wuppo--block {
  width: 80%;
}
.wuppo-welcome-cols .wuppo--col-first {
  border-bottom: 1px solid #e5e5e5;
}
.wuppo-welcome-cols .wuppo--last {
  border-right: none;
}
.wuppo-welcome-cols .wuppo--space {
  height: 20px;
}
.wuppo-welcome-cols .wuppo--icon {
  display: inline-block;
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
  background-color: #555;
  border-radius: 30px;
}
.wuppo-welcome-cols .wuppo--active {
  background-color: #5cb85c;
}
.wuppo-welcome-cols .wuppo--deactive {
  background-color: #e14d43;
}
.wuppo-welcome-cols .wuppo--title {
  font-weight: bold;
  display: block;
}
.wuppo-welcome-cols p:last-child {
  margin-bottom: 0;
}

.wuppo-features-cols .wuppo--key-features {
  width: 30%;
}
.wuppo-features-cols .wuppo--available-fields {
  width: 70%;
}

.wuppo-code-block {
  margin: 20px 0;
  padding: 5px 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.wuppo-code-block pre {
  font-size: 13px;
  color: #0073aa;
}
.wuppo-code-block pre span {
  color: #999;
}

.wuppo--table-fields td {
  font-size: 14px;
}

.wuppo--upgrade a {
  color: #5cb85c;
  font-weight: bold;
}
.wuppo--upgrade a:focus, .wuppo--upgrade a:hover {
  color: #4aa14a;
  outline: none;
  box-shadow: none;
}

@media only screen and (max-width: 782px) {
  .wuppo-welcome-cols .wuppo--col {
    width: 100%;
    min-height: auto;
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
  }

  .wuppo-features-cols .wuppo--key-features {
    width: 100%;
  }
  .wuppo-features-cols .wuppo--available-fields {
    width: 100%;
  }
}
/**
 * 12. Responsive
 */
@media only screen and (max-width: 1200px) {
  .wuppo-metabox .wuppo-field .wuppo-title {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .wuppo-metabox .wuppo-field .wuppo-fieldset {
    float: none;
    width: 100%;
  }
}
@media only screen and (max-width: 782px) {
  .wuppo-header-inner {
    text-align: center;
  }
  .wuppo-header-inner h1 {
    width: 100%;
    margin-bottom: 10px;
  }

  .wuppo-form-result {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .wuppo-search,
  .wuppo-header-right,
  .wuppo-header-left {
    width: 100%;
  }

  .wuppo-search {
    text-align: center;
    margin-bottom: 15px;
  }

  .wuppo-footer {
    text-align: center;
  }

  .wuppo-buttons {
    float: none;
  }

  .wuppo-copyright {
    float: none;
    margin-top: 10px;
  }

  .wuppo-nav,
  .wuppo-expand-all,
  .wuppo-reset-section,
  .wuppo-nav-background {
    display: none !important;
  }

  .wuppo-nav-normal + .wuppo-content {
    margin-left: 0;
  }

  .wuppo-section-title,
  .wuppo-section {
    display: block !important;
  }

  .wuppo-field .wuppo-title {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .wuppo-field .wuppo-fieldset {
    float: none;
    width: 100%;
  }

  .wuppo-field-color .button.wp-picker-clear {
    padding: 0 8px;
    line-height: 2.14285714;
    min-height: 32px;
  }

  .wuppo-modal-inner {
    width: 350px;
    height: 400px;
  }

  .wuppo-modal-content {
    height: 237px;
  }

  .wuppo-icon-dialog .wuppo-modal-inner {
    width: 305px;
    height: 380px;
  }
  .wuppo-icon-dialog .wuppo-modal-content {
    height: 267px;
  }

  .wuppo-modal-icon .wuppo-modal-inner {
    width: 330px;
    height: 385px;
  }
  .wuppo-modal-icon .wuppo-modal-content {
    height: 252px;
  }

  .wuppo-profile-options > .wuppo-field > .wuppo-title,
  .wuppo-taxonomy-edit-fields > .wuppo-field > .wuppo-title {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .wuppo-profile-options > .wuppo-field > .wuppo-fieldset,
  .wuppo-taxonomy-edit-fields > .wuppo-field > .wuppo-fieldset {
    float: none;
    width: 100%;
  }

  .wuppo-nav-menu-options > .wuppo-fields {
    margin-left: -10px;
    margin-right: -10px;
  }
  .wuppo-nav-menu-options > .wuppo-fields > .wuppo-field {
    padding: 10px;
  }
}
/**
 * Chosen JS Styles
 */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  user-select: none;
}

.chosen-container * {
  box-sizing: border-box;
}

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100% 100%);
}

.chosen-container.chosen-with-drop .chosen-drop {
  clip: auto;
  clip-path: none;
}

.chosen-container a {
  cursor: pointer;
}

.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}

.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}

.chosen-container-single .chosen-default {
  color: #999;
}

.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}

.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  font-size: 1px;
}

.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}

.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
}

.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100% 100%);
}

.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}

.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}

.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}

.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}

.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: linear-gradient(#eee 1%, #fff 15%);
  cursor: text;
}

.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
  width: 25px;
  height: 25px;
  min-height: 25px;
}

.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 6px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
  white-space: nowrap;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 12px;
  height: 12px;
  font-size: 1px;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  color: #666;
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}

.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-image: linear-gradient(#eee 20%, #fff 80%);
  box-shadow: 0 1px 0 #fff inset;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}

.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}

.chosen-disabled .chosen-single {
  cursor: default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

.chosen-rtl {
  text-align: right;
}

.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}

.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}

.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}

.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}

.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}

.chosen-rtl .chosen-choices li {
  float: right;
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}

.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}

.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}

.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  direction: rtl;
}
